<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title || post.title %}{{ page.title || post.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description || post.description %}{{ page.description || post.description }}{% else %}{{ site.description }}{% endif %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900|Lora:400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css" />
  </head>
  <body>
    <main role="main">
      <div class="container">
        <header>
          <h1><a href="{{ site.baseurl }}/">data-ui</a></h1>
        </header>
        {{ content }}
      </div>
    </main>
  </body>
</html>
